@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


$Blue: hsl(246, 80%, 60%);
$Work: hsl(15, 100%, 70%); //(work)
$Soft-blue: hsl(195, 74%, 62%);  //(play)
$Light-red: hsl(348, 100%, 68%); // (study)
$Lime-green: hsl(145, 58%, 55%);//(exercise)
$Violet: hsl(264, 64%, 52%);// (social)
$Soft-orange : hsl(43, 84%, 65%);//(self care)
$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);
$card-hover: rgb(52, 57, 123);

@import 'media570';
@import 'media1440';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}

//- Font size: 18px (card titles e.g. Work, Play)

body{
    background-color: $Very-dark-blue;
}

.container{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.menu-card{
    background-color: $Dark-blue;
    border-radius: 1.6rem;
    width: 100%;

    .card-report{
        background-color: $Blue;
        border-radius: 1.3rem;
        padding: 2rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img{
            width: 26%;
            height: auto;
            border: 3px solid #fff;
            border-radius: 50%;
        }

        .report{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            p{
                color:$Pale-Blue;
                font-size: 1rem;
            }

            .name{
                color:#fff;
                font-size: 1.5rem;
                width: 200px;
                font-weight: 300;
            }
        }
    }

    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 1.5rem;

        .menu-link{
            color:$Desaturated-blue;
            cursor: pointer;
            
            &:hover{
                color:#fff;
            }
        }

        .menu-active{
            color:#fff;
        }
    }
}

.regular-card{
    width: 100%;
    border-radius: 1.6rem;
    background-repeat: no-repeat;
    background-position: 95% -0.7rem;

    .property-card{
        background:$Dark-blue;
        margin-top: 2.4rem;
        border-radius: 1.6rem;
        padding: 1.9rem;

        &:hover{
            background-color: $card-hover;
        }

        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .title{
                color:#fff;
                font-size: 1.2rem;
                font-weight: 500;
            }

            .points{
                display: flex;
                justify-content: center;
                align-items: center;
                gap:.2rem;
                margin-left: 5rem;

                &:hover{
                    .point{
                        background-color: #fff;
                    }
                }

                .point{
                    width: 0.4rem;
                    height: 0.4rem;
                    background-color: $Pale-Blue;
                    border-radius: 50%;
                }
            }
        }

        .row-2{
            margin-top: .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .hours{
                font-size: 2rem;
                color:#fff;
                font-weight: 300;
            }

            .description{
                color:$Pale-Blue;
            }

        }
    }

}

.work{
    background:$Work;
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: 95% -0.7rem;
}

.play{
    background-color: $Soft-blue;
    background-image: url(../images/icon-play.svg);
}

.study{
    background-color: $Light-red;
    background-image: url(../images/icon-study.svg);
}

.exercise{
    background-color: $Lime-green;
    background-image: url(../images/icon-exercise.svg);
    background-position: 95% -0.1rem;
}

.social{
    background-color: $Violet;
    background-image: url(../images/icon-social.svg);
}

.selfcare{
    background-color: $Soft-orange;
    background-image: url(../images/icon-self-care.svg);
}

